body {
    font-family: Roboto, sans-serif;
    font-weight: 500;
}

.content {
    padding: 0 calc_rem(15);
    margin: 0 auto;
    max-width: calc_rem(1200);

    @media (max-width: 32em) {
        padding: 0 calc_rem(10);
    }
}

main {
    background: 0 0 / 100% auto url('../img/components/index/main_bgr.png');
}

.flex-vc {
    @extend %flex_vc;
}

// ._hidden {
//     opacity: 0;
//     visibility: hidden;
// }

// ._shown {
//     opacity: 1;
//     visibility: visible;
// }

// ._active {
// }

._scroll-lock {
    overflow-y: hidden;
}

._hide-star {
    display: none;
}

.ru._show {
    display: block;
}
.ru._hide {
    display: none;
}
.en._show {
    display: block;
}
.en._hide {
    display: none;
}