//!Normal version
$color_1: #050622;
$color_1_hover: #060836;
$color_1_active: #0b0d50;
$color_2: #564fff;
$color_2_hover: #4640f8;
$color_2_active: #2923d3;
$color_3: #1e1f3b;
$color_4: #b4abbc;
$color_5: #f9f9f9;
$color_6: #5e637c;

//!Contrast version
// $color_1: rgb(42, 252, 0);
// $color_1_hover: #4bd954;
// $color_1_active: #65ac67;
// $color_2: #00f6e1;
// $color_2_hover: #40caf8;
// $color_2_active: #97b8c7;
// $color_3: #d0ff00;
// $color_4: #a33bff;
// $color_5: #f9f9f9;
// $color_6: #b4b4b4;
