@media (max-width: 63.12em) {
    .order-item {
        margin-bottom: calc_rem(20);
        display: flex;
        color: black;
        gap: calc_rem(6);
        flex-wrap: wrap;
        align-items: stretch;
    
        &__option {
            padding: calc_rem(10);
            flex-wrap: 0 0 auto;
            border-radius: calc_rem(1);
            min-height: calc_rem(100);
        }
        &__option:nth-child(1) {
            width: calc_rem(85);
        }
        &__option:nth-child(2) {
            width: calc_rem(85);
        }
        &__option:nth-child(3) {
            width: calc_rem(200);
        }
        &__option:nth-child(4) {
            width: calc_rem(100);
        }
        &__option:nth-child(5) {
            width: calc_rem(240);
        }
        &__option:nth-child(6) {
            width: calc_rem(735);
        }
    }
}

@media (max-width: 47.61em) {
    .order-item {
        margin-bottom: calc_rem(20);
        display: flex;
        color: black;
        gap: calc_rem(6);
        flex-wrap: wrap;
        align-items: stretch;
    
        &__option {
            padding: calc_rem(10);
            flex-wrap: 0 0 auto;
            border-radius: calc_rem(1);
            min-height: calc_rem(100);
        }
        &__option:nth-child(1) {
            width: calc_rem(85);
        }
        &__option:nth-child(2) {
            width: calc_rem(85);
        }
        &__option:nth-child(3) {
            width: calc_rem(200);
        }
        &__option:nth-child(4) {
            width: calc_rem(100);
        }
        &__option:nth-child(5) {
            width: calc_rem(240);
        }
        &__option:nth-child(6) {
            width: calc_rem(242);
        }
    }
}
@media (max-width: 32.375em) {
    .order-item {
        margin-bottom: calc_rem(20);
        display: flex;
        color: black;
        gap: calc_rem(6);
        flex-wrap: wrap;
        align-items: stretch;
    
        &__option {
            padding: calc_rem(10);
            flex-wrap: 0 0 auto;
            border-radius: calc_rem(1);
            min-height: calc_rem(100);
        }
        &__option:nth-child(1) {
            width: calc_rem(85);
        }
        &__option:nth-child(2) {
            width: calc_rem(85);
        }
        &__option:nth-child(3) {
            width: calc_rem(200);
        }
        &__option:nth-child(4) {
            width: calc_rem(100);
        }
        &__option:nth-child(5) {
            width: calc_rem(276);
        }
        &__option:nth-child(6) {
            width: calc_rem(382);
        }
    }
}
@media (max-width: 25.19em) {
    .order-item {
        margin-bottom: calc_rem(20);
        display: flex;
        color: black;
        gap: calc_rem(6);
        flex-wrap: wrap;
        align-items: stretch;
    
        &__option {
            padding: calc_rem(10);
            flex-wrap: 0 0 auto;
            border-radius: calc_rem(1);
            min-height: calc_rem(100);
        }
        &__option:nth-child(1) {
            flex: 0 0 48%;
        }
        &__option:nth-child(2) {
            flex: 0 0 47%;
        }
        &__option:nth-child(3) {
            flex: 0 0 65%;
        }
        &__option:nth-child(4) {
            flex: 0 0 30%;
        }
        &__option:nth-child(5) {
            flex: 0 0 96.5%;
        }
        &__option:nth-child(6) {
            flex: 0 0 96.5%;
        }
    }
}