@media (max-width: 65.6em) {
    .order-item {
        margin-bottom: calc_rem(20);
        display: flex;
        color: black;
        gap: calc_rem(6);
        flex-wrap: wrap;
        align-items: stretch;
    
        &__option {
            padding: calc_rem(10);
            flex-wrap: 0 0 auto;
            border-radius: calc_rem(1);
            min-height: calc_rem(100);
        }
        &__option:nth-child(1) {
            width: calc_rem(85);
        }
        &__option:nth-child(2) {
            width: calc_rem(85);
        }
        &__option:nth-child(3) {
            width: calc_rem(300);
        }
        &__option:nth-child(4) {
            width: calc_rem(250);
        }
        &__option:nth-child(5) {
            width: calc_rem(300);
        }
        &__option:nth-child(6) {
            width: calc_rem(432);
        }
    }
}

@media (max-width: 48em) {
    .order-item {
        margin-bottom: calc_rem(20);
        display: flex;
        color: black;
        gap: calc_rem(6);
        flex-wrap: wrap;
        align-items: stretch;
    
        &__option {
            padding: calc_rem(10);
            flex-wrap: 0 0 auto;
            border-radius: calc_rem(1);
            min-height: calc_rem(100);
        }
        &__option:nth-child(1) {
            width: calc_rem(85);
        }
        &__option:nth-child(2) {
            width: calc_rem(85);
        }
        &__option:nth-child(3) {
            width: calc_rem(330);
        }
        &__option:nth-child(4) {
            width: calc_rem(225);
        }
        &__option:nth-child(5) {
            width: calc_rem(281);
        }
        &__option:nth-child(6) {
            width: calc_rem(512);
        }
    }
}

@media (max-width: 39.375em) {
    .account {
        &__main {
        }
        &__title {
        }
        &__subtitle {
            font-size: calc_rem(23);
        }
        &__orders {
        }
        &__order {}
        &__nav {
            gap: calc_rem(25);
        }
        &__subtitle-orders {}
        &__subtitle-settings {}
        &__subtitle-set-pass {}
        &__settings {}
        &__setting {
            height: calc_rem(180);
        }
        &__setting-nickname {
            
        }
        &__form {
            display: block;
        }
        &__form-nickname {}
        &__setting-label {
            display: block;
            margin-bottom: calc_rem(2);
        }
        &__setting-input-container {
            margin-bottom: calc_rem(40);
        }
        &__setting-input {
        }
        &__setting-input-nickname {}
        &__setting-set {
        }
        &__setting-set-nickname {}
        &__setting-submit {
        }
        &__setting-email {
        }
        &__form-email {}
        &__setting-set-email {}
        &__setting-tlg {
        }
        &__form-tlg {}
        &__setting-input-tlg {}
        &__setting-set-tlg {}
        &__set-pass {}
    }
}

@media (max-width: 33.9em) {
    .order-item {
        margin-bottom: calc_rem(20);
        display: flex;
        color: black;
        gap: calc_rem(6);
        flex-wrap: wrap;
        align-items: stretch;
    
        &__option {
            padding: calc_rem(10);
            flex-wrap: 0 0 auto;
            border-radius: calc_rem(1);
            min-height: calc_rem(100);
        }
        &__option:nth-child(1) {
            width: calc_rem(140);
        }
        &__option:nth-child(2) {
            width: calc_rem(140);
        }
        &__option:nth-child(3) {
            width: calc_rem(286);
        }
        &__option:nth-child(4) {
            width: calc_rem(286);
        }
        &__option:nth-child(5) {
            width: calc_rem(286);
        }
        &__option:nth-child(6) {
            width: calc_rem(286);
        }
        &__admin {
            display: block;
        }
        &__admin-status-container {
            margin-bottom: calc_rem(5);
        }
        &__admin-status-form {
            display: flex;
            gap: calc_rem(5);
        }
    }
}
@media (max-width: 25.19em) {
    .account {
        &__subtitle {
            font-size: calc_rem(18);
        }
        &__orders {
        }
        &__order {}
        &__nav {
            gap: calc_rem(15);
        }
    }
}