.account {
    color: white;

    &__main {
        padding-top: calc_rem(20);
        flex-grow: 1;
    }
    & > footer {
        flex-shrink: 0;
    }
    &__title {
        margin-bottom: calc_rem(30);
        font-size: calc_rem(36);
    }
    &__subtitle {
        padding-bottom: calc_rem(4);
        margin-bottom: calc_rem(-2);
        border-bottom: 2px solid rgba(white, 0);
        display: block;
        font-size: calc_rem(28);
        transition-duration: 300ms;

        &:hover {
            color: $color_4;
        }

        &._selected {
            border-bottom: 2px solid $color_7;
            color: $color_7;

            &:hover {
                color: $color_7;
            }
        }
    }
    &__personal-services-subtitle {
        &:hover {
            color:white;
        }
    }
    &__subpage {
        display: none;
    }
    &__orders {
        margin-bottom: calc_rem(15);
    }
    &__order {}
    &__nav {
        display: inline-flex;
        margin-bottom: calc_rem(15);
        gap: calc_rem(40);
        border-bottom: 1px solid white;
    }
    &__subtitle-orders {}
    &__subtitle-settings {}
    &__subtitle-set-pass {}
    &__settings {}
    &__setting {
        margin-bottom: calc_rem(10);
        padding: calc_rem(5);
        padding-left: calc_rem(40);
        display: flex;
        align-items: center;
        height: calc_rem(120);
        max-width: calc_rem(600);
        border-radius: calc_rem(2);
        color: black;

        &:last-child {
            margin-bottom: calc_rem(0);
        }
    }
    &__setting-nickname {
        background-color: white;
        
    }
    &__form {
        display: grid;
        align-items: center;
        grid-template-columns: calc_rem(100) calc_rem(220) auto;
        gap: calc_rem(40);
    }
    &__form-nickname {}
    &__setting-label {
        font-size: calc_rem(20);
        font-weight: 700;
    }
    &__setting-input-container {
        position: relative;
    }
    &__setting-error {
        position: absolute;
        font-size: calc_rem(10);
        color: red;
        left: calc_rem(0);
        top: 102%;
    }
    &__setting-input {
        border-bottom: 2px solid $color_2;
        padding: calc_rem(2);
        padding-left: calc_rem(10);
        font-size: calc_rem(20);
        width: calc_rem(220);
        height: calc_rem(35);
        border-radius: calc_rem(2) calc_rem(2) 0 0;
        background-color: rgba($color_6, 0.1);
        color: black;
    }
    &__setting-input-nickname {}
    &__setting-set {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc_rem(130);
        height: calc_rem(45);
        border-radius: calc_rem(4);
        color: white;
        font-size: calc_rem(18);
        font-weight: 500;
        background-color: $color_2;
        box-shadow: 0 0 3px 1px rgba(black, 0.1);

        &:hover {
            background-color: $color_2_hover;
        }

        &:active {
            background-color: $color_2_active;
        }
    }
    &__setting-set-nickname {}
    &__setting-submit {
        display: flex;
                //!
                display: none;
        justify-content: center;
        align-items: center;
        width: calc_rem(130);
        height: calc_rem(45);
        border-radius: calc_rem(4);
        color: white;
        font-size: calc_rem(18);
        font-weight: 500;
        background-color: $color_2;
        box-shadow: 0 0 3px 1px rgba(black, 0.1);
        
        &:hover {
            background-color: $color_2_hover;
        }

        &:active {
            background-color: $color_2_active;
        }
    }
    &__setting-email {
        background-color: #c5c5c5;
    }
    &__form-email {}
    &__setting-email-back {
        padding-left: calc_rem(18);
        position: absolute;
        left: calc_rem(0);
        top: -55%;
        font-size: calc_rem(14);
        color: $color_2;
        transition-duration: 300;

        &._hidden {
            opacity: 0;
            visibility: hidden;
        }

        &:hover {
            color: $color_2_hover;
            &__setting-email-back-line {
                background-color: $color_2_hover;
            }
        }
        &:active {
            color: $color_2_active;
            & .account__setting-email-back-line {
                background-color: $color_2_active;
            }
        }
    }
    &__setting-email-back-line {
        position: absolute;
        height: calc_rem(2);
        background-color: $color_2;
        border-radius: calc_rem(1);
    }
    &__setting-email-back-line-1 {
        left: calc_rem(0);
        top: 45%;
        width: calc_rem(15);
    }
    &__setting-email-back-line-2 {
        transform: rotate(-45deg);
        left: calc_rem(-1);
        top: 25%;
        width: calc_rem(9);
    }
    &__setting-email-back-line-3 {
        transform: rotate(45deg);
        left: calc_rem(0.1);
        top: 65%;
        width: calc_rem(9);
    }
    &__setting-input-email {
    }
    &__setting-set-email {}
    &__setting-tlg {
        background-color: white;
    }
    &__form-tlg {}
    &__setting-input-tlg {}
    &__setting-set-tlg {}
    &__set-pass {
        position: relative;
        padding: calc_rem(20);
        background-color: white;
        border-radius: calc_rem(2);
        color: black;
    }
    &__set-pass-form {
        position: absolute;
        left: calc_rem(20);
        top: calc_rem(20);

        &._hidden {
            visibility: hidden;
            opacity: 0;
        }
    }
    
    &__setting-label {
        display: block;
        font-size: calc_rem(14);
        font-weight: 700;
        margin-bottom: calc_rem(3);
    }
    &__set-pass-input {
        border-bottom: 2px solid $color_2;
        padding: calc_rem(2);
        padding-left: calc_rem(10);
        font-size: calc_rem(20);
        width: calc_rem(220);
        height: calc_rem(35);
        border-radius: calc_rem(2) calc_rem(2) 0 0;
        background-color: rgba($color_6, 0.1);
        color: black;
    }
    &__set-pass-current-input {
        margin-bottom: calc_rem(2);
    }
    &__set-pass-error {
        color: red;
        font-size: calc_rem(10);
        height: calc_rem(10);
    }
    &__set-pass-error-current {
        margin-bottom: calc_rem(8);
    }
    &__set-pass-new-input {
        margin-bottom: calc_rem(5);
    }
    &__set-pass-repeat-input {
        margin-bottom: calc_rem(2);
    }
    &__set-pass-error-new {
        margin-bottom: calc_rem(28);
    }
    &__set-pass-submit {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc_rem(115);
        height: calc_rem(40);
        border-radius: calc_rem(4);
        color: white;
        font-size: calc_rem(18);
        font-weight: 500;
        background-color: $color_2;
        box-shadow: 0 0 3px 1px rgba(black, 0.1);
        
        &:hover {
            background-color: $color_2_hover;
        }

        &:focus {
            background-color: $color_2_hover;
        }

        &:active {
            background-color: $color_2_active;
        }
    }
    &__set-pass-form-code {
        position: absolute;
        left: calc_rem(20);
        top: calc_rem(20);

        &._hidden {
            visibility: hidden;
            opacity: 0;
        }
    }
    &__set-pass-back {
        position: relative;
        margin-bottom: calc_rem(20);
        width: calc_rem(30);
        height: calc_rem(30);
    }
    &__set-pass-back-line {
        position: absolute;
        height: calc_rem(5);
        background-color: $color_2;
        border-radius: calc_rem(1);
    }
    &__set-pass-back-line-1 {
        left: calc_rem(0);
        top: 42%;
        width: calc_rem(30);
    }
    &__set-pass-back-line-2 {
        left: calc_rem(-1);
        top: 21%;
        transform: rotate(-45deg);
        width: calc_rem(18);
    }
    &__set-pass-back-line-3 {
        left: calc_rem(-1);
        top: 62%;
        transform: rotate(45deg);
        width: calc_rem(18);
    }
    &__set-pass-error-code {
        margin-bottom: calc_rem(10);
    }
}

.order-item {
    margin-bottom: calc_rem(20);
    display: flex;
    color: black;
    gap: calc_rem(6);
    flex-wrap: wrap;
    align-items: stretch;

    &__option {
        padding: calc_rem(10);
        flex-wrap: 0 0 auto;
        border-radius: calc_rem(1);
        min-height: calc_rem(100);
    }
    &__option:nth-child(1) {
        width: calc_rem(85);
    }
    &__option:nth-child(2) {
        width: calc_rem(85);
    }
    &__option:nth-child(3) {
        width: calc_rem(200);
    }
    &__option:nth-child(4) {
        width: calc_rem(140);
    }
    &__option:nth-child(5) {
        width: calc_rem(240);
    }
    &__option:nth-child(6) {
        width: calc_rem(240);
    }
    
}

.order-item:nth-child(odd) {
    .order-item__option {
        background-color: white;
    }
}
.order-item:nth-child(even) {
    .order-item__option {
        background-color: #c5c5c5;
    }
}











