.main-screen {
    position: relative;
    z-index: 1;
    @extend %shadow;
    background-image: url('../img/components/index/main_screen/bgr.png');
    background-position: 0 50%;
    color: white;

    & .content {
        padding: calc_rem(80) calc_rem(15) calc_rem(60);
        display: flex;
        align-items: center;
        flex-direction: column;
        @extend %full_size;
    }

    &__black-bgr {
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(black, 0.25);
    }
    &__title {
        z-index: 2;
        margin-bottom: calc_rem(25);
        text-align: center;
        line-height: 1.25;
        font-size: calc_rem(48);
        max-width: calc_rem(700);
    }
    &__subtitle {
        z-index: 2;
        margin-bottom: calc_rem(70);
        font-size: calc_rem(26);
        font-weight: rgb(43, 34, 156);
        color: rgba($color: white, $alpha: 0.8);
    }
    &__view {
        z-index: 2;
        display: inline-block;
        padding: calc_rem(20) calc_rem(180);
        font-size: calc_rem(24);
        border-radius: calc_rem(4);
        background-color: $color_2;

        &:hover {
            background-color: $color_2_hover;
        }

        &:active {
            background-color: $color_2_active;
        }
    }
}
