.header {
    &__log-in-popup {}
}
.log-in {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    @extend %full_screen;
    display: flex;
    justify-content: center;
    transition-duration: 300ms;
    overflow: scroll;
    // align-items: center;

    &._shown {
        opacity: 1;
        visibility: visible;
    }

    &_bgr {
        position: fixed;
        top: 0;
        left: 0;
        @extend %full_screen;
        background-color: rgba($color: black, $alpha: 0.6);
        z-index: 2;
    }
    &__container {
        position: relative;
        z-index: 2;
        width: calc_rem(300);
        height: calc_rem(350);
        padding: calc_rem(10) calc_rem(30) calc_rem(50);
        border-radius: calc_rem(5);
        background-color: $color_1;
    }
    &__close {
        position: absolute;
        top: calc_rem(10);
        right: calc_rem(10);
        width: calc_rem(35);
        height: calc_rem(35);
    }
    &__close-line {
        display: block;
        position: absolute;
        top: calc_rem(12);
        left: calc_rem(-4);
        width: calc_rem(42);
        height: calc_rem(4);
        background-color: white;
        border-radius: calc_rem(30);
    }
    &__close-line-1 {
        transform: rotate(45deg);
    }
    &__close-line-2 {
        transform: rotate(-45deg);
    }
    &__main-container {
        &._hidden {
            display: none;
        }
    }
    &__title {
        margin-bottom: calc_rem(20);
        text-align: center;
        font-size: calc_rem(32);
    }
    &__email-label {}
    &__label {
        display: block;
        margin-bottom: calc_rem(2);
        font-size: calc_rem(14);
        color: $color_4;
    }
    &__email {
        margin-bottom: calc_rem(15);
    }
    &__input {
        display: block;
        padding: calc_rem(5);
        font-size: calc_rem(18);
        color: white;
        background-color: $color_3;
        border: 2px solid $color_2;
        width: calc_rem(230);
        height: calc_rem(38);
        border-radius: calc_rem(3);
    }
    &__password-label {}
    &__password {
        margin-bottom: calc_rem(2);
    }
    &__restore-password {
        margin-bottom: calc_rem(45);
        font-size: calc_rem(14);
        color: $color_4;

        &:hover {
            text-decoration: 1px underline;
        }

        &:active {
            color: white;
        }
    }
    &__error-message {
        margin-bottom: calc_rem(8);
        min-width: calc_rem(10);
        min-height: calc_rem(15);
        font-size: calc_rem(12);
        color: red;
    }
    &__submit {
        padding: calc_rem(9) calc_rem(15);
        display: block;
        font-size: calc_rem(20);
        background-color: $color_2;
        border-radius: calc_rem(3);

        &:hover {
            background-color: $color_2_hover;
        }

        &:active {
            background-color: $color_2_active;
        }
    }
    &__confirmation-container {
        display: none;

        &._shown {
            display: block;
        }
    }
    &__confirmation-form {
        margin-bottom: calc_rem(30);
    }
    &__confirmation-title {}
    &__confirmation-email-label {}
    &__confirmation-email {
        margin-bottom: calc_rem(10);
    }
    &__confirmation-submit-container {
        display: flex;
        gap: calc_rem(8);
        align-items: center;
    }
    &__confirmation-submit {
        padding: calc_rem(6) calc_rem(10);
        display: block;
        font-size: calc_rem(16);
        background-color: $color_2;
        border-radius: calc_rem(3);

        &:hover {
            background-color: $color_2_hover;
        }

        &:active {
            background-color: $color_2_active;
        }

        &._disabled {
            background-color: $color_4;
        }
    }
    &__confirmation-counter {
        font-size: calc_rem(15);
        color: $color_4;
    }
    &__confirmation-error {
        margin-bottom: calc_rem(20);
        min-width: calc_rem(10);
        min-height: calc_rem(15);
        font-size: calc_rem(12);
        color: red;
    }
    &__code-form {}
    &__code-label {}
    &__code {
        margin-bottom: calc_rem(10);
    }
    &__code-submit {
        padding: calc_rem(6) calc_rem(10);
        display: block;
        font-size: calc_rem(16);
        background-color: $color_2;
        border-radius: calc_rem(3);

        &:hover {
            background-color: $color_2_hover;
        }

        &:active {
            background-color: $color_2_active;
        }

        &._disabled {
            background-color: $color_4;
        }
    }
    &__title {}
    &__new-pass-title {}
    &__new-pass-label {}
    &__label {}
    &__new-pass {
        margin-bottom: calc_rem(16);
    }
    &__input {}
    &__repeat-new-pass-label {}
    &__repeat-new-pass {}
    &__new-pass-error {}
    &__new-pass-submit {}
}

.log-in {
    &__new-pass-container {
        display: none;

        &._shown {
            display: block;
        }
    }
    &__new-pass-label {}
    &__new-pass {}
    &__repeat-new-pass-label {}
    &__repeat-new-pass {
        margin-bottom: calc_rem(70);
    }
    &__new-pass-error {
        margin-bottom: calc_rem(10);
        min-width: calc_rem(10);
        min-height: calc_rem(15);
        font-size: calc_rem(12);
        color: red;
    }
    &__new-pass-submit {
        padding: calc_rem(9) calc_rem(15);
        display: block;
        font-size: calc_rem(20);
        background-color: $color_2;
        border-radius: calc_rem(3);
    }
}
.log-new-pass-title {
}
.en {
}
.ru {
}
