.header {
    position: relative;
    z-index: 2;
    @extend %shadow;
    font-size: calc_rem(18);
    color: white;
    height: calc_rem(70);
    background-color: $color_1;

    & .content {
        @extend %flex_vc;
        justify-content: space-between;
        height: 100%;
    }
}
.left-row {
    @extend %flex_vc;

    &__state {
        position: relative;
    }
    &__state-btn {
        display: inline-block;
        margin-right: calc_rem(15);
        padding: 12px 17px;
        font-weight: 700;
        background-color: $color_2;
        border-radius: calc_rem(3);
    }
    &__state-list {
        padding: calc_rem(10);
        padding-bottom: calc_rem(4);
        position: absolute;
        left: 0;
        top: 110%;
        opacity: 0;
        visibility: hidden;
        font-size: calc_rem(14);
        box-shadow: 0 0 1px $color_2;
        background-color: $color_1;
        border-radius: calc_rem(5);
        transition-duration: 200ms;

        &._shown {
            opacity: 1;
            visibility: visible;
        }
    }
    &__state-item {
        margin-bottom: calc_rem(10);
        padding: calc_rem(8) 0 calc_rem(8) calc_rem(34);
    }
    &__state-email {
        background: -4px 50% / 38px 38px url('../img/icons/header/email.svg') no-repeat;
    }
    &__state-tlg {
        background: 0 50% / 30px 30px url('../img/icons/header/tlg_contacts.svg') no-repeat;
    }
    &__logo {
        margin-right: calc_rem(10);
        width: calc_rem(150);
        height: calc_rem(70);
        position: relative;

        & img {
            @extend %image;
        }
    }
    &__tlg {
        display: flex;
        align-items: center;
        margin-right: calc_rem(15);
    }
    &__tlg-img {
        margin-right: calc_rem(5);
        width: calc_rem(35);
        height: calc_rem(35);
        position: relative;

        & img {
            @extend %image;
        }
    }
    &__tlg-title {
        font-size: 14;
        color: $color_4;
    }
    &__chat-title {
        font-size: 14;
        color: $color_4;
    }
    &__chat {
        display: flex;
        align-items: center;
    }
    &__chat-img {
        margin-right: calc_rem(5);
        width: calc_rem(35);
        height: calc_rem(35);
        position: relative;

        & img {
            @extend %image;
            fill: #b4abbc;
        }
    }
    &__chat-title {
        font-size: 14;
        color: #b4abbc;
    }
}
.right-row {
    display: flex;
    gap: calc_rem(15);

    &__reg {}
    &__log {
        display: inline-block;
        padding: 12px 17px;
        font-weight: 700;
        background-color: $color_2;
        border-radius: calc_rem(3);
    }
}
