.header {
    position: relative;
    z-index: 2;
    box-shadow: 0 0 calc_rem(6) rgba($color: black, $alpha: 0.5);
    font-size: calc_rem(18);
    color: white;
    height: calc_rem(70);
    background-color: $color_1;

    & .content {
        @extend %flex_vertical_center;
        justify-content: space-between;
        height: 100%;
    }
}
.left-row {
    @extend %flex_vertical_center;

    &__state {
        display: inline-block;
        margin-right: calc_rem(15);
        padding: 12px 17px;
        font-weight: 700;
        background-color: $color_2;
        border-radius: calc_rem(3);
    }
    &__logo {
        margin-right: calc_rem(10);
        width: calc_rem(150);
        height: calc_rem(70);
        position: relative;

        & img {
            @extend %image;
        }
    }
    &__tlg {
        display: flex;
        align-items: center;
        margin-right: calc_rem(15);
    }
    &__tlg-img {
        margin-right: calc_rem(5);
        width: calc_rem(35);
        height: calc_rem(35);
        position: relative;

        & img {
            @extend %image;
        }
    }
    &__tlg-title {
        font-size: 14;
        color: $color_4;
    }
    &__chat-title {
        font-size: 14;
        color: $color_4;
    }
    &__chat {
        display: flex;
        align-items: center;
    }
    &__chat-img {
        margin-right: calc_rem(5);
        width: calc_rem(35);
        height: calc_rem(35);
        position: relative;

        & img {
            @extend %image;
            fill: #b4abbc;
        }
    }
    &__chat-title {
        font-size: 14;
        color: #b4abbc;
    }
}
.right-row {
    display: flex;
    gap: calc_rem(15);

    &__reg {}
    &__log {
        display: inline-block;
        padding: 12px 17px;
        font-weight: 700;
        background-color: $color_2;
        border-radius: calc_rem(3);
    }
}
